go 1.18

use (
	./01-hello

	./02-data-types/A-basic-data-types
	./02-data-types/B-data-types-convertion
	./02-data-types/C-data-type-aliases
	./02-data-types/D-array-data-type
	./02-data-types/E-slice-data-type
	./02-data-types/F-map-data-type

	./03-variables

	./04-constant-variables

	./05-operators/A-arithmetic-operators
	./05-operators/B-comparison-operators
	./05-operators/C-logic-operators

	./06-conditionals/A-if-else
	./06-conditionals/B-switch-case

	./07-for-loop/A-basic-loop
	./07-for-loop/B-for-with-statement
	./07-for-loop/C-for-without-statement
	./07-for-loop/D-for-range
	./07-for-loop/E-break-continue
	./07-for-loop/F-nested-loop

	./08-function/A-basic-function
	./08-function/B-function-parameter
	./08-function/C-returning-value
	./08-function/D-returning-multiple-values
	./08-function/E-named-return-values
	./08-function/F-variadic-function
	./08-function/G-function-value
	./08-function/H-function-as-parameter
	./08-function/I-anonymous-function
	./08-function/J-recursive-function
	./08-function/K-closure
	./08-function/L-function-as-return-value

	./09-defer-panic-recover/A-defer
	./09-defer-panic-recover/B-panic
	./09-defer-panic-recover/C-recover

	./10-struct/A-basic-struct
	./10-struct/B-struct-methods

)
